html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --javascript-yellow: #f7df1e;
  --light-gray: #eaeaea;
  --invalid: salmon;
  --gray: gray;
}
a {
  color: black;
}

button {
  padding: 0.5em 1em;
  font-weight: bold;
  background: var(--javascript-yellow);

  &:hover {
    cursor: pointer;
  }
}

input,
select {
  border: 1px solid var(--gray);
}
