.slots,
.rings,
.ring,
.slot,
.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.slots {
  display: flex;
  margin: 3rem 0;
  user-select: none;
  position: relative;
  height: 400px;

  > * {
    height: 200px;
  }
}

.rings {
  width: 100%;
  perspective: 1000px;
}
.ring {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  transition: 3s ease-in-out;
}
.slot {
  position: absolute;
  width: calc(100% + 1rem);
  font-size: 54px;
  background: rgba(255, 255, 255, 0.935);
}

@keyframes scale-on {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
